<div class="p-2 w-full flex flex-col justify-center items-center gap-4">
    <div>「ぷに活監視システム」は、家族・友人にダイエットを監視してもらうことができるサービスだよ！</div>
    <div class="w-full">
        <div class="chat chat-start">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    <img src="#" />
                </div>
            </div>
            <div class="chat-bubble chat-bubble-primary">家族の健康が心配すぎる。いらんもの食べてないか見張りたい！</div>
        </div>
        <div class="chat chat-end">
            <div class="chat-image avatar">
                <div class="w-10 rounded-full">
                    <img src="#" />
                </div>
            </div>
            <div class="chat-bubble chat-bubble-secondary">ダイエットしたいけどつい食べちゃう…だれか私を監視してくれー！</div>
        </div>
    </div>
    <div class="flex w-full justify-evenly">
        <img class= "w-2/5" src="#" />
        <img class= "w-2/5" src="#" />
    </div>
    <div class="w-full">
        <div class="chat chat-end">
            <div class="chat-bubble chat-bubble-primary">食事を画像で記録</div>
        </div>
        <div class="chat chat-start">
            <div class="chat-bubble chat-bubble-secondary">食事の記録を見て、スタンプで𠮟咤激励！キャラがなんとなく高カロリーかどうか教えてくれるよ</div>
        </div>
        <div class="chat chat-end">
            <div class="chat-bubble chat-bubble-primary">今日の食事は何点だろう？スタンプで怒られると、画面が埋まって無言の圧を感じる…</div>
        </div>
        <div class="chat chat-start">
            <div class="chat-bubble chat-bubble-secondary">記録の更新時や記録忘れはLINEで通知。サボっていたら教えてあげよう。</div>
        </div>
    </div>
    <div>
        <%= link_to "はじめる！", "#",class: "btn btn-neutral" %>
    </div>
</div>