<tr id="<%= dom_id comment %>">
    <td><%= comment.user.name%></td>
    <td><%= comment.body %></td>
    <% if current_user == comment.user%>
        <td>
            <%= link_to "削除", comment_path(comment), data: { turbo_method: :delete, turbo_confirm: "コメントを削除しますか？"}, class: "btn" %>
        </td>
    <% end %>
</tr>
