<div class="flex flex-col items-center py-4 gap-2">
    <h1 class="text-lg font-bold"><%= t('.information_of_relationship') %></h1>
    <div class="flex flex-col items-start gap-2 bg-neutral-500 rounded-lg p-6">
        <div>
            <%= @relationship_token %>
        </div>
    </div>
</div>
