<h1><%= t('.title') %></h1>
<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to t('.show_user'), user, class: "btn" %>
    </p>
  <% end %>
</div>
<%= link_to t('.to_register_page'), new_user_path, class: "btn" %>
