<h1><%= t('.title') %></h1>
<%= render "form", user: @user %>
<%= link_to t('.create_with_line'), auth_at_provider_path(provider: :line), class: "btn" %>
<%= link_to t('.to_login_page'), login_path, class: "btn" %>
