<h1><%= t('.title') %></h1>
<%= render @user %>
<div>
  <%= link_to t('.edit_user'), edit_user_path, class: "btn" %>
  <%= button_to t('helpers.submit.delete'), user_path, method: :delete, class: "btn" %>
</div>
