<div id="stamp-table-<%= dom_id record %>" class="flex flex-wrap p-1 bg-base-100 rounded-box gap-4">
    <% record.stamped_records.group(:stamp_id).count.sort_by { |_, count| -count }.each do |stamp_id, count| %>
        <% stamp = stamps.find(stamp_id) %>
        <div class="flex items-center gap-1">
            <div class="w-8">
                <%= render  "stamped_records/stamp", stamp: stamp %>
            </div>
            <div class="font-bold">
                <%= count %>
            </div>
        </div>
    <% end %>
</div>