<div class="navbar bg-base-300 rounded-box">
  <div class="flex-1 px-2 lg:flex-none">
    <%= link_to "ぷに活監視システム", root_path, class:"btn btn-ghost text-xl" %>
  </div> 
  <div class="flex justify-end flex-1 px-2">
    <div class="flex items-stretch">
      <%= link_to "ログイン", :login, class:"btn btn-ghost rounded-btn" %>
    </div>
  </div>
</div>
