<div class="navbar bg-base-100">
  <div class="flex-1">
    <%= link_to "ぷに活監視システム", root_path, class:"btn btn-ghost text-xl" %>
  </div>
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <%= link_to "ログイン", "#" %>
    </button>
  </div>
</div>