<%= form_with(model: record) do |f| %>
  <%= render 'shared/error_message' , object: f.object %>
  <div class="flex items-center gap-2">
    <%= f.file_field :meal_image, required: true, class: "file-input file-input-bordered w-full max-w-xs" %>
    <%= f.submit t('helpers.submit.submit'), class: 'btn btn-accent' %>
  </div>
<% end %>
