<input type="checkbox" id="my_modal_7" class="modal-toggle" checked />
<div class="modal" role="dialog">
    <div class="modal-box flex flex-col items-center">
    <h3 class="text-xl font-bold">ぷに活監視システムへようこそ！</h3>
    <p class="py-4">あなたにはまだパートナーがいません。さっそく連携してみましょう！</p>
    <%= link_to "連携する", relationships_menu_path, class:"btn btn-secondary font-bold text-lg" %>
    </div>
    <label class="modal-backdrop" for="my_modal_7">Close</label>
</div>